@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p> Seleccione aqui para <a href='@Url.Action("SelectIndumentaria")'> Crear una indumentaria</a></p>
    @if (ViewBag.IndumentariaEquipos.Count != 0)
    {
        <h2>Elija una indumentaria para ver su informacion:</h2>
        <form action='@Url.Action("BuscarIndumentaria")'>
            <select name="busqueda" id="">
                @foreach (var item in ViewBag.IndumentariaEquipos)
                {
                    <option>@item.Key</option>
                }
            </select>
            <input type = "submit" value = "Buscar">
        </form>
    }
</div>
